/* ---------------   Banner Layout   --------------- */
* {
	border-box: box-sizing;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.wrapper {
	width: 100%;
	background-image: url(img/banner_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;



}

.wrapper__header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	width: 90%;
	margin: 0 auto;

}


.wrapper__content {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-flow: row wrap;
	margin: 0 auto;
	padding-top: 10rem;
	padding-bottom: 18rem;
}


/* ---------------   Header Styles   --------------- */

nav {
	margin: 3rem 0 0 0;
}

.logo {
	letter-spacing: 6px;
	color: $white;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-family: 'Exo';
	font-weight: 900;
	border: solid 2px $white;
	padding: .25rem 1.4rem;

	
}

.nav-text {
	color: $white;
	font-size: 1.1rem;
	padding: 1rem;
	font-weight: 500;
	letter-spacing: 0.4px;
}


/* ---------------   Content Styles   --------------- */

.title {
	color: $white;
	font-weight: 900;
	font-size: 3.3rem;
	margin-bottom: .8rem;
	letter-spacing: 3px;

}

.sub-title {
	color: $white;
	font-size: 1.2rem;
	padding: 0 12em;
	text-align: center;
	line-height: 2rem;
	font-weight: 500;
}




/* ---------------  Button Styles   --------------- */

.button__wrapper {
	margin-top: 3.2rem;
}
.button {
	padding: .5rem 3rem;
	border-radius: 2rem;
	color: $white;
	font-weight: 600;
	letter-spacing: .1rem;
	font-size: 1.3rem;

}

.button-primary {
	background-color: $lavender;
	padding: 1rem 5rem;
	font-size: 1.1rem;
	font-weight: 900;
	text-transform: uppercase;
		&:hover {
			background-color: lighten($lavender, 10%);
		}
}

.button-secondary {
	font-size: 0.9rem;
	padding: 0.75rem 4rem;
	border: 2px solid $white;
	&:hover {
		background-color: transparentize($white, .85);
	}
}

.button-nav {
	margin-left: 1.75rem;
}

.button-small {
	color: $white;
	font-size: 1.1rem;
	padding: .4rem 1.75rem;
	border-radius: 2rem;
	letter-spacing: .06rem; 
}

.button-service {
	padding: .35rem 2rem;
	color: $white;
	font-weight: bold;
	background-color: $lavender;
}



/* ---------------  Services Styles   --------------- */
.services {
	border-top: 3px solid $primary-dark;
}
.services_title {
	color: $primary-dark;
	padding-bottom: 2rem;
	font-size: 1.75rem;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1.4em;
}

.services__wrapper {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: $white;
	margin-bottom: 5em;


}

.service-card {
	width: 25rem;
	height: 12rem;
	// background-color: $copy;
	border-bottom: solid 3px $primary-dark;
	margin: 3rem 2rem;
	padding: 2rem;
	padding-bottom: 2rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	color: $primary-dark;
}

.service-card-title {
	margin-bottom: 0.75rem;
	font-size: 1.75rem;


}

.service-card-copy {
	text-align: center;
	width: 95%;
	margin-bottom: 40px; 
}

.button-service {
	font-size: .9rem;
	margin: 7px 0 40px 0;
}
 














