// Colors

$primary-dark: #252839;
$primary-light: #f2b632;
$button-highlight: #7ac483 ;
$light-gray: #f9fbfb;
$dark-gray: #677077;
$medium-gray: #b5b5b7;
$copy: #fbe7a6;
$white: #fff;
$black: #000;


$sky-blue: #eeeeff; //rgba(238, 238, 255, 100)
$lavender: #7f7caf; //rgba(127, 124, 175, 100)
$sea-blue: #9fb4c7; //rgba(159, 180, 199, 100)
$violet: #28587b; //rgba(40, 88, 123, 100)
$olive-green: #9fb798; //rgba(159, 183, 152, 100)
$deep-violet: darken($violet, 20%);






	