// Colors

$primary-dark: #252839;
$primary-light: #f2b632;
$button-highlight: #7ac483 ;
$light-gray: #f2f1f8;
$dark-gray: #677077;
$medium-gray: #b5b5b7;
$copy: #b9b7c6;
$white: #fff;
$black: #000;

	