.work_wrapper {

	background-color: $copy; 
	width: 100%;
	text-align: center;
	padding: 2rem 0 25rem 0;
	position: relative;
	overflow: hidden;

}


.work_title {
	color: $primary-dark;
	padding-bottom: 5rem;
	font-size: 1.75rem;
	text-align: center;
	text-transform: uppercase;
}




// Slider dots 

// TODO: 
// 	Fix hover
// 	Implement interactivity

.nav-dots {
	list-style: none;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: $primary-dark;

		.nav-dots .nav-dot:hover {
			cursor: pointer;
			background-color: lighten($primary-dark, 10%);
		}
	}
					
// 			input#img-1:checked ~ .nav-dots label#img-dot-1,
// 			input#img-2:checked ~ .nav-dots label#img-dot-2,
// 			input#img-3:checked ~ .nav-dots label#img-dot-3,
// 			// background: rgba(0, 0, 0, 0.8,) 
// }

.slider {
	list-style: none;

	li {
		width: 600px;
		height: 375px;
		overflow: hidden;
		background-color: $white;
		-webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
		-moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
	  position: absolute;
	  z-index: 3;
	  border-radius: .35rem .35rem 0 0;
	  img {
	  	width: 100%;
	  }
	  &:nth-child(1) {
	  	bottom: -37px;
	  	left: 0;
	  	-webkit-transform: scale(.8, .8);
	  	-moz-transform: scale(.8, .8);
	  	transform: scale(.8, .8);
	  	z-index: 2;
	  }
	  &:nth-child(2) {
	  	left: 50%;
	  	margin-left: -300px;
	  	z-index: 4;
	  	bottom: 0;
	  }
	  &:nth-child(3) {
	  	bottom: -37px;
	  	right: 0;
	  	-webkit-transform: scale(.8, .8);
	  	-moz-transform: scale(.8, .8);
	  	transform: scale(.8, .8);
	  	z-index: 2;
	  }
	}
}




// Testimonials

.testimonials, .clients {
	background-color: $white;
	color: $primary-dark;
}

.testimonials-title {
	color: $primary-dark;
	padding-bottom: 3rem;
	font-size: 1.75rem;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1.4em;

}

.testimonials-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em 0 3rem 0;
	align-items: center;
	width: 60%;
	margin: auto;
}
.testimonials-copy{
	display: flex;
	font-weight: 400;
	color: lighten($primary-dark, 10%);
	font-size: 1.1rem;
	text-align: justify;
}
.testimonials-img {
	margin-right: 3em;
	margin-bottom: 1rem;
}


// Clients

.clients-wrapper {
	display: flex;
	justify-content: center;
	padding: 1em 20% 5em 20%;
	a {
		flex: 1;
		img {
			max-width: 7.5em;
		}
	}
}

// Form

// .contact-title {
// 	color: $white;
// 	text-align: center;
// 	font-weight: 700;
// 	font-size: 1.4rem;
// 	margin-bottom: .8rem;
// 	padding-top: 1.5em; 
// }

// .contact {
// 	height: 300px;
// 	background-color: $primary-light;
// 	padding: 0 14rem;
// }

// .form {
// 	font-size: 1.3rem;
// 	display: flex;
// 	flex: row wrap;

// 	// p {
// 	// 	display: flex;
// 	// 	padding-right: 2rem;

// 	label {
// 		background-color: $primary-dark;
// 		color: white;
// 		font-weight: 700;
// 	}

// 	input {
// 		padding: 0.8rem;
// 		width: 100%;

// 	}

// }


.footer {
	background-color: $copy;
	text-align: center;
}

.footer-title {
	color: $primary-dark;
	text-align: center;
	font-weight: 900;
	font-size: 2.5rem;
	padding-top: 1.25em;
	text-transform: uppercase;
}

.footer-copy {
	margin: 1rem 30% 5rem 30%;
	font-weight: 500;
	font-size: 1.5rem;
	color: lighten($primary-dark, 10%);
}

.button-footer {
	margin-top: 4rem;
	margin-bottom: 3.5rem;
	padding: 1.25rem 5.5rem;
	background-color: $lavender;
	font-size: 1.5rem;
	font-weight: 800;
	color: $primary-dark;
	&:hover {
	background-color: lighten($lavender, 10%);
	}
}

.copywrite {
	font-size: 1rem;
	color: $primary-dark;
	font-weight: 900;
	padding: 4rem 0 1rem 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	span {
		letter-spacing: 0;
		color: $lavender;
		font-weight: 700;
		font-size: 1.2rem;
	}
}



